<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header th:replace="fragments/header :: header">
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
        admin>>>>>
    </div>
  </section>

  <!-- end about section -->

  <!-- footer section -->
  <footer th:replace="fragments/footer :: footer">
  <!-- footer section -->

</body>

</html>